@model IEnumerable<ScoresPredictorMVC.Models.Fixture>

@{
    ViewBag.Title = "View";
}

<h2 class="page-title">View Fixtures</h2>

<div>
    <table class="table table-striped">
        <tr>
            <th>
                Date
            </th>
            <th>
                Home Team
            </th>
            <th>
                Away Team
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Home_Team)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Away_Team)
                </td>
            </tr>
        }

    </table>
</div>