@model IEnumerable<ScoresPredictorMVC.Models.Fixture>
@{
    ViewBag.Title = "Home Page";
}

@*@foreach (var fixture in Model)
{ 
    <div>
        <h4>@fixture.Date</h4>
        <h3>@fixture.Home_Team</h3>
        <h3>@fixture.Away_Team</h3>
        <hr />
    </div>*@
}

